# Docker
#COMPOSE_PROJECT_NAME=nc
DOCKER_PGID=1000
DOCKER_PUID=1000

# Domain
SUBDOMAIN_NEXTCLOUD=nextcloud.example.com
SUBDOMAIN_COLLABORA=collabora.example.com

# MariaDB
MYSQL_ROOT_PASSWORD=<your root password>
MYSQL_PASSWORD=<your user password>

# Nextcloud
NEXTCLOUD_ADMIN_USER=<your admin user>
NEXTCLOUD_ADMIN_PASSWORD=<your admin password>
NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.example.com

# Collabora
DOMAIN_COLLABORA=nextcloud\\.example\\.com
DICTIONARIES_COLLABORA=en_GB
#USERNAME_COLLABORA=admin
#PASSWORD_COLLABORA=<your admin password>
#EXTRA_PARAMS_COLLABORA=--o:ssl.enable=true --o:ssl.termination=false

# Letsencrypt
LE_EMAIL=youremail@example.com
LE_URL=example.com
LE_SUBDOMAINS=nextcloud,collabora
LE_ONLY_SUBDOMAINS=true
LE_STAGING=true
LE_TZ=Europe/London

# Signal
SIGNAL_TELEPHONE_NO=+1111111111

# Cloudflare
# Note: only supports a single HOST
# CNAME subdomains do not work, so you have to use a wildcard to catch everything
CLOUDFLARE_ZONE=example.com
CLOUDFLARE_HOST=*.example.com
CLOUDFLARE_EMAIL=youremail@example.com
CLOUDFLARE_API=<yourcloudflareglobalapikey>
